#page_width {
    width: 1250px;
}
.navigation {
    width: 150px;
    height: 650px;
    background-color:#4A4A4A;
    float:left;
}
.navigation_back_ground {
    font-size: 20px;
    font-color:#FFFFFF;
    list-style: none;
}
ul.navigation_back_ground {
    padding-left: 11px;
    position: absolute;
    top: 100px;
    left: 5px;
}
ul.navigation_back_ground li {
    margin: 20px ;
    padding: 3px;
}
.navigation_back_ground li a {
    color: #fff;
    /*border-bottom: 1px solid white;*/
}
ul.navigation_back_ground a {
    text-decoration: none
}
.container {
    background-color: #EEEEEE;
    height: 600px;
    width: 1100px;
    float: left;
}
.container_head {
    background-color: #1C9AFC;
    height: 50px;
    width: 1100px;
}
.container_bottom {
    background-color: #EEEEEE;
    height: 50px;
    width: 1100px;
    float: left;
}
.search {
    float: right;
    height:40px;
    line-height:40px;
    overflow:hidden;
}
.img {
    width: 18px;
    height: 12px;
}
.container_box {
    width: 800px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.container_box_state{
   float: right;
    background: #ACD8ff;
    margin-right: 60% ;
    width: 50px;
    text-align: center;
}
.container_box_content{
    margin: -40px 55px;
}
.container_box_img_location{
    margin-top: 10px;
}
.bnt {
    border-radius: 5px;
    background-color: #1C9AFC;
}
.bnt_location{
    float: left;
}
.check_box_encapsulation{
    margin-right: 30px;
    float: right;
}
.container_box_location{
    float: right;
    width: 20%;
    margin-top: -15px;
}
#page{
    width: 300px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.container_box1_img{
    float: right;
    height: 54px;
    position: relative;
    margin-top: -58px;
}
.search1{
    height: 27px;
    border: none;
    border-bottom: 1px  solid #fff;
    outline: 0;
    background: #1C9AFC;
    background: url("../img/c.png") no-repeat right center;
}
.container_check_box{
    width: 150px;
    height: 300px;
    border: 1px;
    float: right;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 5px;
}
.bnt1{
    background-color: #1C9AFC;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}
.underline{
    border-bottom: 2px solid white;
}
.test_modified{
    margin-top: -2px;
    color: #A7A7A5;
}

input{
    color: #ff0000;
}

